.textArea {
    background-color: var(--black-dark);
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    font-size: 12px;
    padding: 16px;
    width: 100%;
    resize: none;
  }
  