:root {
    --soft-red: hsl(358, 79%, 66%);
    --pale-red: hsl(357, 100%, 86%);
    --moderate-blue: hsl(238, 40%, 52%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --grayish-blue: hsl(211, 10%, 45%);
    --dark-blue: hsl(216, 73%, 22%);
    --very-dark-blue: hsl(222, 100%, 15%);
    --black-dark: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 25%);
    --light-gray: hsl(223, 19%, 93%);
    --white: hsl(0, 0%, 100%);
    --very-light-gray: hsl(228, 33%, 97%);
  }  